.description {

  border-top: 1px solid #3E3E3E;
  padding-top: 30px;

}

.testimonial-card {

  background-color: #202020;
  padding: 50px 40px 30px 40px;

  .quote-icon {

    position: absolute;
    top: 22px;
    right: 55px;

  }

}



