.form-control {

  color: #FFFFFF;
  background-color: transparent;
  border-width: 0px 0px 1px 0px;
  border-radius: 0px;
  padding: 3rem 0rem;
  font-size: 24px;
  border-color: #212121;

  &::placeholder {
    color: #676767;
    opacity: 1;
  }

  &:focus {

    background-color: transparent;
    text-decoration: none!important;
    outline:none!important;
    box-shadow: none!important;
    border-color: #FFFFFF;
    color: #FFFFFF;

  }

}