<div id="say-hi" class="container py-5">
    <div class="row">
        <div class="col-lg-8 mb-5">
            <h2 class="text-white mb-4">{{ block_title }}</h2>
            <p class="p-big text-white">{{ description }}</p>
        </div>
    </div>
    <div class="row ">
        <div class="col-12 d-lg-flex">
            {{ contact_block }}
                <div class="mr-5 mb-4">
                    <h6 class="contact-who">{{ contact_who }}</h6>
                    <a href="{{ button_link }}" class="btn btn-lined">
                        {{ button_title }}
                        <svg class="ml-2" width="6px" height="10px" viewBox="0 0 6 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="valuable-design" transform="translate(-784.000000, -500.000000)" stroke="#FFFFFF" stroke-width="1.2">
                                    <g id="btn-lined" transform="translate(651.000000, 493.000000)">
                                        <polyline id="arrow" points="134.183762 7.4556029 137.695587 11.7172062 134.183762 15.9788095"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
            {{ /contact_block }}
        </div>
    </div>
</div>