{{ if header_on }}

<div class="row justify-content-center mb-5">
    <div class="{{ if collection == "works" }} col-lg-8 {{ else }} col-lg-12 text-center mb-5 {{ /if }}">
    {{ if collection == "works" }}
    {{ else }}
    <h1 class="mb-0" {{ if text_background_image }} id="clip" {{ /if }}>{{ page_title }}</h1>
    {{ /if }}
    <p class="{{ if collection == "works" }} p-big {{ /if }} text-white">
    {{ if collection == "works" }}
    <strong>{{ page_title }} </strong> —
    {{ /if }}
    {{ page_subtitle }}
    </p>
</div>
{{ if button_link }}
<div class="col-12 text-center">
    <a href="{{ button_link }}" class="btn btn-lined">
        {{ button_title }}
        <svg class="ml-2" width="6px" height="10px" viewBox="0 0 6 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="valuable-design" transform="translate(-784.000000, -500.000000)" stroke="#FFFFFF" stroke-width="1.2">
                    <g id="btn-lined" transform="translate(651.000000, 493.000000)">
                        <polyline id="arrow" points="134.183762 7.4556029 137.695587 11.7172062 134.183762 15.9788095"></polyline>
                    </g>
                </g>
            </g>
        </svg>
    </a>
</div>
{{ /if }}
</div>
<footer class="mastfoot mt-auto"></footer>
{{ else }}

{{ /if }}

