{{ quote_block }}
<div style="background: {{ background_color }}">
    <div class="container pt-lg-big pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <p class="quote mb-4">"{{ quote_text }}"</p>
                <div class="d-flex flex-row align-items-center">
                    {{ assets:client_photo }}
                    <div class="user-photo mr-4" style="background-image: url({{ url }})"></div>
                    {{ /assets:client_photo }}
                    <div class="d-flex flex-column">
                        <h6 class="mb-1">{{ client_name }}</h6>
                        <span class="client-position">{{ client_position }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ /quote_block }}