<div class="bg-white">
    <div class="container py-lg-big py-5">
        <div class="row justify-content-center">
            <div class="col-6 col-md-5">


                {{ collection:previous in="works" as="posts" limit="1"}}

                {{ if no_results }}


                {{ /if }}

                {{ posts }}

                <div class="post">
                    <h6 class="text-muted">Previous</h6>
                    <a class="project-url" href="{{ url }}">{{ title }}</a>
                </div>

                {{ /posts }}

                {{ /collection:previous }}


            </div>
            <div class="col-6 col-md-5 text-right">

                {{ collection:next in="works" as="posts" limit="1" }}

                {{ if no_results }}


                {{ /if }}

                {{ posts }}

                    <div class="post">
                        <h6 class="text-muted">Next</h6>
                        <a class="project-url" href="{{ url }}">{{ title }}</a>
                    </div>

                {{ /posts }}

                {{ /collection:next }}

            </div>

        </div>
    </div>
</div>