<div class="container pb-5">
    <div class="row {{ if id == "9c9602fb-21a5-4d57-888a-0525ea38f766" }} mt-5 {{ /if }}">
        {{ if block_title }}
        <div class="col-lg-4 mb-5">
            <h2 class="text-white mb-5">{{ block_title }}</h2>
            {{ if button_link }}
            <a href="{{ relate:button_link }}{{ url }}{{ /relate:button_link }}" class="btn btn-lined">
                {{ button_title }}
                <svg class="ml-2" width="6px" height="10px" viewBox="0 0 6 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="valuable-design" transform="translate(-784.000000, -500.000000)" stroke="#FFFFFF" stroke-width="1.2">
                            <g id="btn-lined" transform="translate(651.000000, 493.000000)">
                                <polyline id="arrow" points="134.183762 7.4556029 137.695587 11.7172062 134.183762 15.9788095"></polyline>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
            {{ /if }}
        </div>
        {{ /if }}
        {{ single_work_block }}
        <div class="col-lg-4 mb-5">
            {{ assets:photos }}
                <a href="{{ relate:link_collection}}{{ url }}{{ /relate:link_collection }}">
                <div class="work-block-outer mb-4">
                    <div class="work-block" style="background-image: url({{ url }})"></div>
                </div>
            </a>
            {{ /assets:photos }}
            <p class="p-small text-white">
                <strong>{{ title }}</strong>
                —
                {{ description }}
            </p>
        </div>
        {{ /single_work_block }}
    </div>
</div>

