@charset "UTF-8";
@font-face {
  font-family: "Manrope";
  src: url("../webfont/webmanrope-extrabold.woff2") format("woff2"), /* Modern browsers */
  url("../webfont/manrope-extrabold.woff") format("woff"), /* Legacy browsers */
  url("../webfont/manrope-extrabold.otf") format("truetype"); /* Android, iOS */
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: "Manrope";
  src: url("../webfont/manrope-bold.woff2") format("woff2"),
  url("../webfont/manrope-bold.woff") format("woff"),
  url("../webfont/manrope-bold.otf") format("truetype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "Manrope";
  src: url("../webfont/manrope-semibold.woff2") format("woff2"),
  url("../webfont/manrope-semibold.woff") format("woff"),
  url("../webfont/manrope-semibold.otf") format("truetype");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: "Manrope";
  src: url("../webfont/manrope-medium.woff2") format("woff2"),
  url("../webfont/manrope-medium.woff") format("woff"),
  url("../webfont/manrope-medium.otf") format("truetype");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: "Manrope";
  src: url("../webfont/manrope-regular.woff2") format("woff2"),
  url("../webfont/manrope-regular.woff") format("woff"),
  url("../webfont/manrope-regular.otf") format("truetype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Manrope";
  src: url("../webfont/manrope-light.woff2") format("woff2"),
  url("../webfont/manrope-light.woff") format("woff"),
  url("../webfont/manrope-light.otf") format("truetype");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "Manrope";
  src: url("../webfont/manrope-thin.woff2") format("woff2"),
  url("../webfont/manrope-thin.woff") format("woff"),
  url("../webfont/manrope-thin.otf") format("truetype");
  font-style: normal;
  font-weight: 200; }
body, html {
  font-family: "Manrope",sans-serif; }
*,*:before,*:after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }